@font-face {
  font-family: "apple-gothic";
  src: url("./font/AppleSDGothicNeoM.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "apple-gothic";
  src: url("./font/AppleSDGothicNeoEB.ttf");
  font-weight: bold;
  font-style: normal;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
header {
  margin-top: 10vw;
}
header img {
  width: 40vw;
  max-width: 240px;
}

section {
  margin-bottom: 6vh;
}
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "apple-gothic";
  margin: 0;
  word-break: keep-all;
}
a {
  color: rgb(44, 44, 44);
}
.contents {
  width: 60vw;
  height: 50vh;
  max-width: 700px;
  min-width: 300px;
}
.main-view {
  background-color: white;
  height: 70%;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}
.main-view p {
  margin-bottom: 30px;
}
.qrCode_img {
  height: 15vh;
}
.how_to {
  flex-direction: column;
  display: flex;
  text-align: left;
  justify-content: center;
}
.how_to li {
  margin-bottom: 0px;
  font-size: calc(10px+1.5vmin);
}
.render {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.render-col {
  flex-direction: column;
}
.tab-bar {
  display: flex;
  font-size: 15pt;
  height: 50px;
}
.tab-bar a {
  width: 30%;
  min-width: 150px;
}
.tab-select {
  background-color: white;
}
.tab-none {
  background-color: #ffe760;
}
.tab {
  box-shadow: 0 -3px 30px rgba(0, 0, 0, 0.12);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tab p {
  font-size: 0.8em;
}
.tab img {
  height: 50%;
  margin-right: 10px;
}
.App-header {
  background-color: #ffe760;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: rgb(29, 29, 29);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
