.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
header {
  margin-bottom: 10vh;
}
section {
  margin-bottom: 6vh;
}
a {
  color: rgb(0, 0, 141);
}
.qrCode_img {
  height: 15vh;
}
.how_to {
  flex-direction: column;
  display: flex;
  text-align: left;
  justify-content: center;
}
.how_to li {
  margin-bottom: 0px;
  font-size: calc(10px+1.5vmin);
}
.render {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.render-col {
  flex-direction: column;
}

.intro-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.url_input {
  width: 50vmax;
  text-align: center;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid rgb(29, 29, 29);
  font-size: calc(10px + 2vmin);
  outline: none;
}
.url_input:focus {
  outline: none;
}
.App-header {
  background-color: #ffe760;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: rgb(29, 29, 29);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
